@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;

    padding: 10px 100px;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
}

ul {
    margin: 0px;
    padding: 0px;

    list-style: none;
    
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #F9FAF8; 
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.section-one {
    background-color: #1F2937;
    padding: 75px 150px;
    color: #F9FAF8;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border: none;

    padding: 5px 20px;
    border-radius: 5px;

    align-self: flex-start;

}

.resize-one{
    width:400px;
    height: auto;
}

.information-image {
    width: 200px;
    height: auto;
}
